@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#notification{
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #86CEFF , white);
    font-family: 'Poppins', sans-serif;
}

.btn-green{
    background-color: #4C98CC;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
    border: none;
    font-weight: bold;
}
.btn-green:hover {
    transform: scale(1.1);
}
