#booking{
    background-image : element('../../assets/User/airplane-blue-ocean.png');
}
#detail-booking{
    background-color:aqua;
    width:100%;
}

#detail-pemesan h4{
    margin-top:6px;
    margin-left:4px;
}

#detail-penumpang h4{
    margin-top:6px;
    margin-left:4px;
}

#order select{
    height: 28px;
}

#email input{
    width:254px;
}
#passanger select{
    height: 28px;
}

#logo-bagasi{
    margin-left:50px
}
#bagasi h6{
    margin-top: 10px;
    margin-left:5px;
}

#ket-bagasi{
    margin-left:78px;
}

#ket-bagasi p{
    font-size:12px;
    color:darkgrey;
}

#detail-flight{
    background-color:purple;
}