@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#about{
    font-family: 'Poppins', sans-serif;
}

.about{
    background-image: linear-gradient(to right, #86CEFF , white);
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.vision{
    border-radius: 10px;
    border-color: #4C98CC;
}


.print-ticket{
    background-color: #4BBDEE;
}

.text-green{
    color: #4C98CC;
    font-weight: bold;
}

/* Responsive */
@media only screen and (max-width: 1020px) {

}
@media only screen and (max-width: 576px) {

}
@media only screen and (min-width: 360px) {
}