/* Jumbotron */
.btn-green{
    background-color: #4C98CC;
    color: white;
    border-radius: 10px;
    padding: 1.5%;
    border: none;
    font-weight: bold;
}
.btn-green:hover {
    transform: scale(1.1);
}

/* Search Flight */
.search-flight{
    background-image: linear-gradient(#FFFFFF,#7BD8F8 70%,#66d5fa)
}
.form-1{
    padding-left: 5%;
}