@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#notification{
    background-image: linear-gradient(#FFFFFF,#7BD8F8 70%,#00BAF9);
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}