@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#checkout{
    background-image:linear-gradient(to bottom, #86CEFF , white);
    font-family: 'Poppins', sans-serif;
}
#card-bg{
    background-image:linear-gradient(to bottom, #86CEFF , white);
}