/* Jumbotron */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

.navbar-admin {
    font-family: 'Poppins', sans-serif;
    height: 70px;
    box-shadow: #4C98CC 0px 4px 6px -1px, #4C98CC 0px 2px 4px -1px;
}
.text-green{
    color: #4C98CC;
    font-weight: bold;
}