@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#navbar{
    /* background-image: linear-gradient(#FFFFFF,#7BD8F8 70%); */
    font-family: 'Poppins', sans-serif;
}

.logo-navbar{
    width: 100px;
}

.btn-navbar{
    background-color: #4C98CC;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
}

.btn-navbar:hover {
    transform: scale(1.1);
}
