@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#searchTicket{
    background-image:linear-gradient(to bottom, #86CEFF , white);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
.btn-navbar{
    background-color: #4C98CC;
    color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
}

.btn-navbar:hover {
    transform: scale(1.1);
}